.img-adjustable {
  width: 100%;
  height: auto;
  max-width: none; /* Permite que a imagem ultrapasse seu contêiner, se necessário */
  object-fit: cover; /* Mantém a proporção da imagem ao preencher o espaço */
}

/* .artist-info-container{ 
  margin: 20px;
}
.album-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
}

.album {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
}

.album img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.album h3 {
  font-size: 1rem;
  margin-top: 10px;
}

.album p {
  font-size: 0.9rem;
  color: #666;
}

.album a {
  font-size: 0.9rem;
  color: #ffffff; /* Spotify green */
  /* text-decoration: none;
 /*}*/

.album-bottom {
  border-radius: 15px;
  background-color: #1DB954;
  color: white;
  text-decoration: none;
  padding: 10px 0;
  margin-top: 10px;
}

.album-bottom:hover {
  background-color: #1AA34A;
  color: white;
  text-decoration: none;
}
