.album-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
  }
  
  .album {
    text-align: center;
  }
  
  .album img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .album h3 {
    font-size: 1rem;
    margin-top: 10px;
  }
  
  .album p {
    font-size: 0.9rem;
    color: #666;
  }
  
  .album a {
    font-size: 0.9rem;
    color: #000000; /* Spotify green */
    text-decoration: none;
  }
  
  .album a:hover {
    text-decoration: underline;
  }
  